*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Nunito', sans-serif !important;
    font-family: 'Rubik', sans-serif !important;
    color: rgb(255, 255, 255);
    text-shadow: 
       1px 0px 2px rgb(41, 201, 255),
       -1px 0px 2px rgb(41, 201, 255),
       0px 1px 2px rgb(41, 201, 255),
       0px -1px 2px rgb(41, 201, 255);
}
body
{
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(210, 239, 249),rgb(101, 216, 255),rgb(119, 221, 255),rgb(210, 239, 249));
    /* to stretch the gradient to entire sceen, we need to use background attachment */
    background-attachment: fixed;
}
h1{
    color: rgba(0, 75, 133, 0.975);
    padding: 5px;
}
#txt
{
    margin-top: .75rem;
    padding: 7px;
    width: 16rem;
    border-radius: 5px;
    border: .17px solid grey;
    color: #000;
    text-shadow: none;
    outline: none;
}
#txt:hover
{
    box-shadow: 1px 0px 8px rgb(210, 239, 249);
    box-shadow: -1px 0px 8px rgb(210, 239, 249);
    box-shadow: 0px 1px 8px rgb(210, 239, 249);
    box-shadow: 0px -1px 8px rgb(210, 239, 249);
}
::placeholder
{
    text-align: center;
    text-shadow:none;

}
#btn{
    width: 9rem ;
    font-weight: 500;
    text-shadow: none;
}
#btn:hover{
    box-shadow: 1px 0px 8px rgb(210, 239, 249);
    box-shadow: -1px 0px 8px rgb(210, 239, 249);
    box-shadow: 0px 1px 8px rgb(210, 239, 249);
    box-shadow: 0px -1px 8px rgb(210, 239, 249);
}
.main
{
    position: relative;
    background-color: rgba(5, 97, 167, 0.849);
    border-radius: 10px;
    width: fit-content;
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 1.5px 15px rgba(0, 76, 135, 0.709) , inset 2px 1px 7px rgba(0, 145, 255, 0.932);
    display:none;
}
#name,img,h4{
    margin-left: auto;
    margin-right: auto;
}
#name{
    position: absolute;
    top: 0.8rem;
    left: 1.4rem;
}
p
{
    position: absolute;
    top: 3.5rem;
    left: 1.4rem;
    text-align: start;
    font-size:13px;
    font-style: italic;
}
img
{
    position: absolute;
    top:0.8rem;
    right: 1.5em;
}
h6
{
    position: absolute;
    top:3.5rem;
    right: 0.5em;
    width: 6rem;
    word-wrap: normal;
}
#temp
{
    font-size:60px;
}
#card
{
    margin-top: 4em;
}
hr
{
    width:100%;
    padding: 0;
}
